$dark-color: #051821;
$theme-color: #0c8054;
$cta-color: #f58800;
$cta-hover-color: #f8bc24;
$light-color: #d3f8fc;

body {
  font-size: 1.5rem;
  background-color: $dark-color;
}
.light-text {
  color: $light-color;
}

.auth-container {
  position: relative;
  display: block;
  margin: 10vh auto;
  padding: 2rem 0;
  width: clamp(360px, 33%, 1200px);
  background: $theme-color;
  text-align: center;
  border-radius: 1.5rem;
}
.form-input {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 3rem;
  font-size: 1.125em;
  border-radius: 0.5rem;
}
.btn {
  font-size: 1.125em;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  background-color: $cta-color;
  &:hover {
    background-color: $cta-hover-color;
  }
}

.navbar {
  background: $theme-color;
  color: $dark-color;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  a {
    color: $dark-color;
    text-decoration: none;
  }
}

.content {
  padding: 0 1rem;
}

.note-preview {
  border: 1px red solid;
  margin-bottom: 0.5rem;
  padding: 1rem;
  background: $light-color;
  color: $dark-color;
}
